
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FAQ</title>

<%- include('../common/stylesheets'); %>
</head>

<body class="nav-md">
<div class="container body">
    <div class="main_container">
      <%- include('../common/navigation'); %>

        <!-- page content -->

               <div class="right_col" role="main">
                    <div class="">
                        <div class="page-title">
                            <div class="title_left" style="width:100%">
                                <h3><i class="fa fa-question faq-icon"></i>Frequently Asked Questions</h3>
                            </div>
                            <!--
                            <div class="title_right">
                                <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Go!</button>
                                        </span>
                                    </div>
                                </div>
                            </div> <!-- title right -->
                        </div> <!-- page title -->

                        <div class="clearfix"></div>

                        <div class="">

                            <div class="clearfix"></div>

                            <div class="x_panel" style="padding:23px 23px 15px;">
                                <div class="x_panel faq-wrapper">

                                    <div class="x_title thin-border" style="margin-bottom:0;">
                                        <h2>General Questions</h2>
                                        <!--
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>

                                        </ul>-->
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content" style="padding:0 0 6px;">

                                      <!-- start accordion -->
                                      <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

                                        <div class="panel">
                                            <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                <h4 class="panel-title">Collapsible Group Items 1 </h4>

                                            </a>
                                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                <h4 class="panel-title">Collapsible Group Items 2</h4>
                                            </a>
                                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                                <div class="panel-body">
                                                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      <!-- end of accordion -->
                                    </div>
                                </div>

                                <div class="x_panel faq-wrapper">
                                    <div class="x_title thin-border">
                                        <h2>Payment</h2>
                                       <!--
                                        <ul class="nav navbar-right panel_toolbox">
                                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                            </li>
                                        </ul>-->
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                       <!-- start accordion -->
                                        <div class="accordion" id="accordion1" role="tablist" aria-multiselectable="true">

                                            <div class="panel">
                                                <a class="panel-heading collapsed" role="tab" id="headingFour" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    <h4 class="panel-title">Collapsible Group Items 3 </h4>
                                                </a>
                                                <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="panel">
                                                <a class="panel-heading collapsed" role="tab" id="headingFive" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                                    <h4 class="panel-title">Collapsible Group Items 4</h4>
                                                </a>
                                                <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                                                    <div class="panel-body">
                                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- end of accordion -->
                                    </div>
                                </div>

                                <div class="x_panel faq-wrapper">
                                    <div class="x_title thin-border">
                                        <h2>Contact</h2>

                                       <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">

                                        <!-- start accordion -->
                                            <div class="accordion" id="accordion2" role="tablist" aria-multiselectable="true">

                                                <div class="panel">
                                                    <a class="panel-heading collapsed" role="tab" id="headingSix" data-toggle="collapse" data-parent="#accordion2" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                                        <h4 class="panel-title">Collapsible Group Items 5 </h4>
                                                    </a>
                                                    <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor,
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="panel">
                                                    <a class="panel-heading collapsed" role="tab" id="headingSeven" data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
                                                        <h4 class="panel-title">Collapsible Group Items 6</h4>
                                                    </a>
                                                    <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                                                        <div class="panel-body">
                                                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                          <!-- end of accordion -->
                                    </div> <!-- x_content -->
                                </div><!-- x-panel -->
                            </div> <!-- col-xs-12 -->
                        </div>


                <!-- /page content -->
            </div>
        </div>
        <!-- right_col -->

        <div id="custom_notifications" class="custom-notifications dsp_none">
            <ul class="list-unstyled notifications clearfix" data-tabbed_notifications="notif-group"></ul>
            <div class="clearfix"></div>
            <div id="notif-group" class="tabbed_notifications"></div>
        </div>
    </div>
    <!-- main container -->
</div>
<!-- container body -->

<%- include('../common/javascripts'); %>

</body>
</html>
