<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
      Manage Services
    </title>
    <%- include('../common/stylesheets'); %>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%- include('../common/navigation'); %>
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left" style="width:100%">
                <h3>
                  <i class="fa fa-cog services-icon"></i>Manage Services</h3>
              </div>
            </div>
            <div class="clearfix"></div>
            <div class="">
              <div class="clearfix"></div>
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="x_panel">
                    <div class="x_content">
                      <div class="" role="tabpanel" data-example-id="togglable-tabs">
                        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                          <li role="presentation" class="active">
                            <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Service Requests</a>
                          </li>
                          <li role="presentation" class="">
                            <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Services Offered</a>
                          </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                          <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="x_panel">
                                  <div class="x_content">
                                    <div class="row" style="margin:0">
                                      <div class="x_panel" style="padding:3px 5px 0;">
                                        <form class="form-inline search-visitor-field">
                                          <h4 class="label-filter">
                                            <i class="fa fa-filter"></i>Filter</h4>
                                          <div class="form-group service-request">
                                            <select name="serviceType" id="serviceTypeSelect" class="form-control">
                                              <option disabled selected>Select Service Type</option>
                                              <% for (var i = 0; i < data.length; i++) { var k = data[i];  %>
                                              <option value="<%= k._id %>" <%= String(query.serviceType) == String(k._id) ? 'selected' : '' %>>
                                                <%= k.serviceName %>
                                              </option>
                                            <% } %>
                                          </select>
                                        </div>
                                        <div class="form-group service-request">
                                          <select class="form-control" name="status">
                                            <option disabled selected>Status</option>
                                            <option value="Pending" <%= query.status == 'Pending' ? 'selected' : '' %>>Pending</option>
                                            <option value="Resolved" <%= query.status == 'Resolved' ? 'selected' : '' %>>Resolved</option>
                                          </select>
                                        </div>
                                        <div class="form-group has-feedback">
                                          <input type="text" class="form-control" name="block" value="<%= query.block ? query.block : '' %>" placeholder="Block Number">
                                        </div>
                                        <div class="form-group has-feedback">
                                          <input type="text" class="form-control" name="flatNo" value="<%= query.flatNo ? query.flatNo : '' %>" placeholder="Flat Number">
                                        </div>
                                        <button class="btn btn-success btn-search" style="margin-top:5px;">
                                          <i class="fa fa-search" style="font-size:20px"></i>
                                        </button>

                                        <a class="btn btn-success btn-xs" style="margin-top:5px;" href="/admin/services">
                                          Clear Filter
                                        </a>
                                      </form>
                                    </div>
                                  </div><br/>
                                  <% if (serviceRequests.length == 0) { %>
                                  <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                      <h2>You Currently Have <%= serviceRequests.length %> Service Requests</h2>
                                    </div>
                                  </div>
                                  <% } else { %>
                                  <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                      <div class="x_panel" style="padding:0">
                                        <div class="x_title label-my-services">
                                          <h2 style="font-weight:200">Service Requests</h2>
                                          <div class="clearfix"></div>
                                        </div>
                                        <div class="x_content" style="padding:0">
                                          <table class="table common-table">
                                            <thead>
                                              <tr>
                                                <th>Date</th>
                                                <th>Name</th>
                                                <th>Service Type</th>
                                                <th>Description</th>
                                                <th>Preferred
                                                  <br/>Schedule</th>
                                                <th>Provider
                                                  <br/>Allocated</th>
                                                <th>Time Allocated</th>
                                                <th>Status</th>
                                                <th>Amount</th>
                                                <th>
                                                  &nbsp;
                                                </th>
                                              </tr>
                                            </thead>
                                            <tbody>

                                              <% for (var  i = 0; i < serviceRequests.length; i++) { %>

                                                <tr>
                                                  <td><%= moment(serviceRequests[i].date).format('DD-MMM-YYYY') %></td>
                                                  <td><%= serviceRequests[i].requestedBy.name %>
                                                    (<%= serviceRequests[i].requestedBy.block %>,
                                                    <%= serviceRequests[i].requestedBy.flatNo %>)</td>
                                                  <td><%= serviceRequests[i].serviceType.serviceName %></td>
                                                  <td><%= serviceRequests[i].description %></td>
                                                  <td><%= serviceRequests[i].preferredSchedule %></td>

                                                  <form id="submit-form-<%= i %>">
                                                    <td style="width:13%">
                                                      <select class="form-control" name="providerAllocated">
                                                        <% if (!serviceRequests[i].providerAllocated) { %>
                                                          <option disabled selected>Select one</option>

                                                          <% providers.forEach(function (provider) { %>

                                                            <option value="<%= provider._id %>">
                                                              <%= provider.name %>
                                                            </option>
                                                          <%  }) %>
                                                        <%  } else { %>
                                                          <% providers.forEach(function (provider) { %>

                                                            <option value="<%= provider._id %>" <%= (serviceRequests[i].providerAllocated && String(serviceRequests[i].providerAllocated._id) == String(provider._id)) ? 'selected' : '' %>>
                                                              <%= provider.name %>
                                                            </option>
                                                          <%  })
                                                                                                  }%>
                                                        </select>
                                                      </td>
                                                      <td style="width:15%">
                                                        <input type="text" value="<%= serviceRequests[i].timeAllocated %>" class="form-control" name="timeAllocated" style="padding:6px 4px;" placeholder="Date & Time">

                                                      </td>
                                                      <td style="width:13%">

                                                        <div class="form-group" style="margin-bottom:0">
                                                          <select class="form-control" value="<%= serviceRequests[i].status %>" name="status" style="padding:6px 4px;">
                                                            <option disabled selected>Status</option>
                                                            <option <%= (serviceRequests[i].status == 'Pending') ? 'selected' : '' %> value="Pending">Pending</option>
                                                            <option <%= (serviceRequests[i].status == 'Resolved') ? 'selected' : '' %> value="Resolved">Resolved</option>
                                                          </select>
                                                        </div>

                                                      </td>
                                                      <td style="width:13%">
                                                        <input type="text" class="form-control" value="<%= serviceRequests[i].amount == '' ? 'Pending' : serviceRequests[i].amount %>" name="amount" style="padding:6px" placeholder="&#8377; Amount">
                                                      </td>
                                                      <td>
                                                        <button type="submit" class="btn btn-success btn-xs" onclick="saveRequest('<%= serviceRequests[i]._id %>', <%= i %>)">Save</button>
                                                      </td>
                                                    </form>
                                                  <% } %>
                                                </tr>
                                              </tbody>
                                            </table>
                                          </div>
                                        </div>
                                      </div>
                                    </div> <!-- /service requst list 'row' -->
                                    <% } %>

                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                            <div class="x_content">
                              <button class="btn btn-success new-service-btn" data-toggle="modal" data-target=".bs11-example-modal-sm">
                                <i class="fa fa-plus-circle"></i>New Service</button><br/><br/>

                            <% if (error) { %>
                                <h3><%= message %></h3>
                            <% } else if (!error && data.length == 0) { %>
                                <h3>
                                    No Services found
                                </h3>
                            <% } else { %>

                              <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true" style="margin-top:10px;">
                                <% for (var i = 0; i < data.length; i++) { var service = data[i]; %>

                                <div class="panel services-offered">
                                  <a class="panel-heading collapsed" role="tab" id="heading-<%= service.id %>" data-toggle="collapse" data-parent="#accordion" href="#collapse-<%= service.id %>" aria-expanded="false" aria-controls="collapse-<%= service.id %>">
                                    <h4 class="panel-title">
                                      <span id="serviceName-<%= service.id %>"><%= service.serviceName %></span>

                                      <i class="fa fa-chevron-up"></i>
                                      <i class="fa fa-trash" onclick="deleteService(event, '<%= service.id %>')"></i>
                                    </h4>
                                  </a>

                                  <div id="collapse-<%= service.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-<%= service.id %>">
                                    <div class="panel-body">
                                      <div class="row">
                                        <div class="col-xs-11">
                                          <p id="description-<%= service.id %>">
                                            <%= service.description %></p>
                                        </div>
                                        <div class="col-xs-1">
                                          <i class="fa fa-edit" onclick="edit('<%= service.id %>')" style="margin-top:5px; font-size:18px; float:right"></i>
                                        </div>
                                      </div>
                                      <br/>

                                      <% if (service.serviceProvider.length > 0) { %>
                                        <table class="table table-bordered common-table">
                                          <caption style="font-weight: bolder; font-size: 111%;">List of Service Providers:</caption>
                                          <thead>
                                            <tr>
                                              <th>Name</th>
                                              <th>Phone</th>
                                              <th>Days Working</th>
                                              <th>Work Hours</th>
                                              <th>Status</th>
                                              <th>
                                                &nbsp;</th>
                                            </tr>
                                          </thead>
                                          <tbody>
                                            <% for (var j = 0 ; j < service.serviceProvider.length; j++) { var provider = service.serviceProvider[j]; %>
                                            <tr>
                                              <td><%= provider.name %></td>
                                              <td>+91
                                                <%= provider.contactPhone %></td>
                                              <td><%= provider.daysWorking %></td>
                                              <td><%= provider.workHours %></td>
                                              <td>
                                                <form>
                                                  <div class="form-group" style="margin-bottom:0">
                                                    <select class="form-control" style="padding:6px 4px;" onchange="changeProviderStatus('<%= provider._id %>', this.value)">
                                                      <option disabled>Status</option>
                                                      <option <%= (provider.status == 'active') ? 'selected' : '' %> value="active">Active</option>
                                                      <option <%= (provider.status == 'inactive') ? 'selected' : '' %> value="inactive">Inactive</option>
                                                    </select>
                                                  </div>
                                                </form>
                                              </td>
                                              <td class="text-center">
                                                <button type="button" class="btn btn-xs btn-warning" onclick="deleteProvider('<%= provider._id %>')">
                                                  <i class="fa fa-times-circle" style="color: #fff"></i>
                                                </button>
                                              </td>
                                            </tr>
                                          <% } %>

                                        </tbody>
                                      </table>
                                    <% } %>
                                    <br>
                                    <div class="text-center">
                                      <button class="btn btn-success btn-md" onclick="addProvider(event, '<%= service.id %>')">&nbsp
                                        <i class="fa fa-plus-circle" style="color:#fff;">
                                          Add Provider</i>
                                        &nbsp;
                                      </button>
                                    </div>

                                  </div>
                                  <!-- panel body -->
                                </div>
                                <!-- id="collapseOne" -->
                              </div>
                              <!-- class="panel services-offered" --->

                            <% }  %>
                          </div>
                        <% } %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade bs11-example-modal-sm" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel3">Add New Service</h4>
              </div>
              <div class="modal-body" style="padding-bottom:0">
                <br/>
                <div class="row">
                  <form id="add-service-form">
                    <div class="col-xs-12 form-group has-feedback">
                      <input type="text" class="form-control" id="inputSuccess901" placeholder="Service Name" name="serviceName"><br/>
                      <textarea class="form-control" rows="3" placeholder="Description" name="description"></textarea>
                      <br>

                      <button type="submit" class="btn btn-success">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel3">Edit</h4>
              </div>
              <div class="modal-body" style="padding-bottom:0">
                <br/>
                <div class="row">
                  <form id="edit-service-form">
                    <div class="col-xs-12 form-group has-feedback">
                      <input type="hidden" name="serviceId" id="serviceId">
                      <input type="text" class="form-control" id="edit-service-name" placeholder="Service Name" name="serviceName"><br/>
                      <textarea class="form-control" rows="3" id="edit-description" placeholder="Description" name="description"></textarea>
                      <br>

                      <button type="submit" class="btn btn-success">Save</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="modal fade" id="add-provider-modal" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabel12">Add New Service Provider</h4>
              </div>
              <div class="modal-body" style="padding-bottom:0">
                <br/>
                <div class="row">
                  <form id="add-provider-form">
                    <table class="table table-bordered common-table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Phone</th>
                          <th>Days Working</th>
                          <th>Work Hours</th>
                          <th>Status</th>

                        </tr>
                      </thead>
                      <input type="hidden" name="serviceId" id="serviceIdforProvider">

                      <tbody>
                        <tr>
                          <td>

                            <div class="col-xs-12 form-group has-feedback">
                              <input type="text" class="form-control" id="name" name="name" placeholder="Name"></div>

                          </td>
                          <td>

                            <div class="col-xs-12 form-group has-feedback">
                              <input type="text" class="form-control" id="contactPhone" name="contactPhone" placeholder="Phone Number"></div>

                          </td>
                          <td>

                            <div class="col-xs-12 form-group has-feedback">
                              <input type="text" class="form-control" id="daysWorking" name="daysWorking" placeholder="Days Working"></div>

                          </td>
                          <td>

                            <div class="col-xs-12 form-group has-feedback">
                              <input type="text" class="form-control" id="workHours" name="workHours" placeholder="Work Hours"></div>

                          </td>
                          <td style="width:17%">

                            <div class="form-group" style="margin-bottom:0">
                              <select class="form-control" name="status" style="padding:6px 4px;">
                                <option selected disabled>Status</option>
                                <option value="active">Active</option>
                                <option value="inactive">Inactive</option>
                              </select>
                            </div>

                          </td>

                        </tr>
                      </tbody>
                    </table>
                    <br>
                    <div class="row">
                      <div class="col-md-4 col-md-offset-4 text-center">
                        <button type="submit" class="btn btn-success">
                          Save</button>

                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../common/javascripts'); %>
<script type="text/javascript" src="/vendors/serializejson.min.js"></script>

<script type="text/javascript">

  $(document).ready( function () {
    if (sessionStorage.showProfileTab !== undefined && sessionStorage.showProfileTab === 'yes') {
      $("#profile-tab").click();
      sessionStorage.removeItem('showProfileTab');
      if (sessionStorage.expandId !== undefined) {
        $("#heading-"+sessionStorage.expandId).click();
        sessionStorage.removeItem('expandId');
      }

      // if (sessionStorage.panelToExpand)
    }
  })

  $('#add-provider-form').submit(function(e) {
    e.preventDefault();
    var formData = $(this).serializeJSON();
    console.log(formData);
    $.ajax({
      url: '/admin/addProvider',
      method: 'POST',
      data: formData,
      success: function(data) {
        if (!data.error) {
          $('#add-provider-modal').modal('hide');
          window.location.reload();
        }
      }
    })
  });

  $('#add-service-form').submit(function(e) {
    e.preventDefault();
    // validation
    var snameV = $("input[name='serviceName']").val();
    if (!validateRequired(snameV)) {
      new PNotify({
        title: 'Validation Failed',
        text: 'Please enter a Service Name',
        type: 'error'
      });
      return false;
    }
    // /end validation
    var formData = $(this).serializeJSON();
    console.log(formData);
    $.ajax({
      url: '/admin/addService',
      method: 'POST',
      data: formData,
      success: function(data) {
        sessionStorage.showProfileTab = 'yes'; // for next reload of page!
        if (!data.error) {
          sessionStorage.expandId = data.data.id; // expand services offered accordion panel on next reload of page!
          $('.bs11-example-modal-sm').modal('hide');
          window.location.reload();
        } else {
          console.log(data.message);
          console.log(data.reason);
        }
      }
    })
  });

  function deleteProvider(providerId) {
    var yes = confirm('Do you want to delete?');
    if (yes) {
      $.ajax({
        url: '/admin/deleteProvider',
        method: 'DELETE',
        data: {
          providerId: providerId
        },
        success: function(data) {
          if (!data.error) {
            window.location.reload();
          }
        }
      })
    }
  }

  function changeProviderStatus(providerId, status) {
    console.log(arguments);
    $.ajax({
      url: '/admin/changeProviderStatus',
      method: 'PUT',
      data: {
        providerId: providerId,
        status: status
      },
      success: function(data) {
        console.log(data);
        if (!data.error) {
          window.location.reload();
        }
      }
    })
  }

  function deleteService(e, id) {
    e.stopPropagation();

    var yes = confirm('Do you want to delete?');
    if (yes) {
      $.ajax({
        url: '/admin/deleteService',
        method: 'DELETE',
        data: {
          serviceId: id
        },
        success: function(data) {
          sessionStorage.showProfileTab = 'yes'; // for next reload of page!
          if (!data.error) {
            //sessionStorage.expandId = data.data.id; // expand services offered accordion panel on next reload of page!
            $('.bs11-example-modal-sm').modal('hide');
            window.location.reload();
          } else {
            console.log(data.message);
            console.log(data.reason);
          }
        }
      })
    }
  }

  $('#edit-service-form').submit(function(e) {
    e.preventDefault();
    var formData = $(this).serializeJSON();

    // console.log(formData);
    // validation
    var snameV = formData.serviceName;
    if (!validateRequired(snameV)) {
      new PNotify({
        title: 'Validation Failed',
        text: 'Please enter a Service Name',
        type: 'error'
      });
      return false;
    }
    // /end validation
    $.ajax({
      url: '/admin/editService',
      method: 'PUT',
      data: formData,
      success: function(data) {
        if (!data.error) {
          $('#edit-modal').modal('hide');
          window.location.reload();
        }
      }
    })
  });

  function saveRequest(id, i) {
    event.preventDefault();
    var formData = $('#submit-form-' + i).serializeJSON();
    formData.serviceRequestId = id;
    console.log(formData);
    $.ajax({
      url: '/admin/addServiceRequest',
      method: "PUT",
      data: formData,
      success: function(data) {
        if (!data.error)
          window.location.reload();
        }
      })

  }

  function edit(id) {
    $('#edit-modal').modal('show');
    console.log($('#description-' + id).html());
    console.log($('#serviceName-' + id).html());
    $('#edit-service-name').val($('#serviceName-' + id).html());
    $('#edit-description').val($.trim($('#description-' + id).html()));
    $('#serviceId').val(id);
  }

  function addProvider(e, serviceId) {

    $('#add-provider-modal').modal('show');
    $('#serviceIdforProvider').val(serviceId);

  }
</script>
</body>
</html>
